*.sw?
dist-newstyle/
run_hoogle.sh
result*
__pycache__
*.pyc
*.pyo
dev-profile*
# We git ignore this so codecmp doesn't choke on it
# the updateMaterialized script updates it
nix/materialized
mcp-selenium-hs.*.tar.xz
